//Variables

//Colors

$color-primary: green;
$color-primary-light: rgb(0, 187, 0);  
$color-secondary: orange;
$color-secondary-light: rgb(255, 225, 0);
$color-secondary-dark: rgb(187, 122, 0);

$color-dark: rgb(45, 45, 45);
$color-midtone: grey;
$color-light: lightgray;
$color-ultra-light: white;

//Typography

//Font-family

$font-family-1: 'Open Sans', sans-serif;
$font-family-2: 'Luckiest Guy', cursive;

//Font-size:

$font-size-xl: 40px;
$font-size-l: 24px;
$font-size-m: 20px;
$font-size-s: 16px; 
$font-size-xs: 12px; 